.home-page {
  &--carousel {
    margin-bottom: 1rem;
    &--image-block {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 500px;
      width: 100%;
    }
    &--image-1 {
      background-image: url("../../utilities/assets/back1.jpg");
    }
    &--image-2 {
      background-image: url("../../utilities/assets/back2.jpg");
    }
    &--image-3 {
      background-image: url("../../utilities/assets/back3.jpg");
      background-position: top;
    }
    .carousel-caption {
      color: #000;
    }
  }
}
